body
{
    font-family: Arial, Helvetica, sans-serif;  
    background-color:#88D8ED;
    color: #666666;
}
*
{
    box-sizing: border-box;
}
Header, main, nav, footer, figure, figcaption, aside, section, article { 
    display: block; }
#mobile
{
    display:none;
}
#desktop
{
    display:inline;
}

#wrapper
{
    margin:auto;
    width: 80%;
    background-image: linear-gradient(#FFFFFF, #90C7E3);
    background-repeat: no-repeat;
    min-width: 960px;
    max-width: 2048px;
    border: 1px solid #000033;
    box-shadow: 3px 3px #333333;
}
#homeHero
{
    height: 300px;
    background-image: url("images/coast.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#yurtHero
{
    height:300px;
    background-image:url("images/yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#trailHero
{
    height:300px;
    background-image:url("images/trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header
{
    background-color: #000033;
    color: #FFFFFF;
    text-align: center;
    height: 120px;
    padding-top: 30px;
    padding-left: 3em;
}
main
{
    padding: 1px 20px 20px 20px;
    margin-left: 190px;
    padding-left:30px;
    background-color: #FFFFFF;
}
nav
{
    float:left;
    width:160px;
    font-size: 120%;
    padding: 1.5em;
}
nav a
{
    font-weight:bold;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
nav a:link
{
    color: #5C7FA3;
}
nav a:visited
{
    color:#344873;
}
nav a:hover
{
    color:#A52A2A;
}
h1, h2, h3
{
    font-family: Georgia, "Times New Roman", "serif font typeface";
}
h1
{
    margin-top:0;
    font-size: 3em;
    letter-spacing: 0.25em;
}
h2
{
    color: #000033;
    text-shadow: 1px 1px #cccccc;
}
h3
{
    color: #000033;
}
.resort
{
    font-weight: bold;
    color: #5C7FA3;
}
main ul
{
    list-style-image: url(Images/marker.gif);
}
footer
{
    font-size:75%;
    padding: 20px;
    margin-left: 190px;
    background-color: #FFFFFF;
}
div
{
    font-size: 90%;
}
#contact
{
    font-size: 90%;
}
table
{
    border: 2px #3399CC;
    border-collapse: collapse;
}
tr:nth-of-type(2n)
{
    background-color: #F5FAFC;
}
td,  th
{
    padding: 0.5em;
    border: 2px;
    border-color: #3399CC;
}
td
{
    text-align: center;
}
.text
{
    text-align: left;
}

label
{
    display: block;

}
input, textarea
{
    display: block;
    margin-bottom: 20px;
}
#submit, #reset
{
    margin-left: 130px;
}


input [ type=”submit”]
{ margin-left: 0; }

@media only screen and (max-width:1024px)
{
    body{
        margin: 0px;
        background-color: #FFFFFF;
    }
    #wrapper
    {
        min-width: 0px;
        width: auto;
        box-shadow: none;
        border: none;
    }
    header{
        padding: 0.5em 0em;
        height: auto;
    }
    h1{
        letter-spacing: 0.1rem;
    }
    main{
        margin-left:0px;
    }
    nav{
        float:none;
        width: auto;
        text-align: center;
        padding:0.5em;
    }
    nav li{
        display: inline;
        padding: 0.25em 0.75em;
    }
    #homeHero, #yurtHero, #trailHero{
        margin-left:0px;
        height: 200px;
    }

}
@media only screen and (max-width: 600px)
{
    main{
        padding: 0.1em 1em;
        font-size: 90%;
    }
    h1{
        font-size: 2em;
    }
    nav{
        padding:0px;
    }
    nav li{
        display: block;
        margin: 0px;
        border-bottom: 2px solid #330000;
    }
    nav a{
        display:block;
    }
    #homeHero, #yurtHero, #trailHero{
        background-image: none;
        height:0px;
    }
}